body{
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow-x: hidden;
}

.tabuleiro {
    position: absolute;
    border: 1px solid;
    height: 480px;
    width: 480px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 8px 8px rgb(0 0 0 / 65%);
    background: #F0D9B5;
    z-index: -2;
}

.preta {
    background: #B58863;
}

.celula {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}

.cavalo{
    position: relative;
    width: 50px;
    height: 50px;
    top: 5px;
    left: 65px;
    animation: L 13s ease;
}

#quadrado{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 69px;
    top: 9px;
    z-index: -1;
    opacity: 0%;
    animation: destaque 13s;
}


@keyframes L{
    0%{
        top: 5px;
        left: 65px;
    }
    4%{
        top: 65px;
        left: 65px;
    }

    8%{
        top: 65px;
        left: 125px;
    }

12%{
        top: 65px;
        left: 185px;
    
    }

    16%{
top: 125px;
left: 185px;

    }

    
    20%{
        top: 185px;
        left: 185px;
        
            }

            24%{
                top: 185px;
                left: 245px;
                
                    }
                    28%{
                        top: 245px;
                        left: 245px;
                        
                            }

                            32%{
                                top: 300px;
                                left: 245px;
                                
                                    }
                
                                    36%{
                                        top: 300px;
                                        left: 300px;
                                        
                                            }

                                            40%{
                                                top: 365px;
                                                left: 300px;
                                                
                                                    }
                                                    44%{
                                                        top: 425px;
                                                        left: 300px;
                                                        
                                                            }
         48%{
            top: 425px;
            left: 365px;
      }

      52%{
        top: 425px;
        left: 300px;
        
            }
            56%{
                top: 365px;
                left: 300px;
                
                    }  
                    
                    60%{
                        top: 300px;
                        left: 300px;
                        
                            }
  
                            64%{
                                top: 300px;
                                left: 245px;
                                
                                    }
                                    68%{
                                        top: 245px;
                                        left: 245px;
                                        
                                            }

                                            72%{
                                                top: 185px;
                                                left: 245px;
                                                
                                                    }
                                                    76%{
                                                        top: 185px;
                                                        left: 185px;
                                                        
                                                            }
                                                            80%{
                                                                top: 125px;
                                                                left: 185px;
                                                                
                                                                    }
                                                                    84%{
                                                                        top: 65px;
                                                                        left: 185px;
                                                                    
                                                                    }
                                                                    88%{
                                                                        top: 65px;
                                                                        left: 125px;
                                                                    }
                                                                    92%{
                                                                        top: 65px;
                                                                        left: 65px;
                                                                    }
                                                                    100%{
                                                                        top: 5px;
                                                                        left: 65px;
                                                                    }


                        
}